@model IEnumerable<PBLVII.Models.Tarefa>

@{
   Layout = "~/Views/Shared/LayoutRelatorios.cshtml";
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
           
          
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>            
           
        </tr>
    }
    
    </table>

